html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100%;
}

.blog2-container {
	border: 5px solid rgb(50, 188, 91);
	padding: 15px;
	background-color: rgb(198, 71, 136);
}

input {
	width: 100%;
	max-width: 400px; /* Ajusta el ancho máximo según sea necesario */
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px; /* Ajusta el tamaño de fuente según sea necesario */
}

.ball {
	width: 33%;
	margin: 0 auto;
	border-radius: 30%;
}

.result-message {
	margin-top: 20px;
	font-size: 18px;
	color: black;
}

/* Bloque 1 */
.custom-card {
	border: 2px solid var(--primary);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 768px; 
	height: 768px;  
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.custom-card-1 {
	border: 2px solid var(--primary);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-card-image {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 100%;
	object-fit: cover;
	height: 35%;
	margin: 10px;
}

.custom-card-title {
	font-size: 1.3rem;
	font-weight: bold;
	color: var(--primary);
	margin-bottom: 5px;
}

.division-line {
	width: 30%;
	height: 1.5px;
	background-color: var(--primary);
	margin-left: 30%;
	margin-right: 30%;
}

.custom-card-text {
	color: var(--gray-600);
	font-size: 16px;
	margin-bottom: 10px;
}

.card-body {
	margin: 15px;
}

.card-custom-card {
	margin: 10px;
}

.custom-card-button {
	background-color: var(--primary);
	border-color: var(--primary);
	color: var(--white);
	display: inline-block;
	margin-bottom: 10px;
	background-color: #3fbc7d;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px;
}

.custom-card-button:hover {
	background-color: var(--primary-dark);
	border-color: var(--primary-dark);
	background-color: #72dcd1;
}

/* Media Queries */
@media (max-width: 767px) {
	.custom-card {
		margin: 20px auto;
		max-width: calc(100% - 40px);
		width: 100%;
		height: auto;
	}
	.custom-card-image {
		height: 35vh;
		margin: 10px;
		object-fit: cover;
		width: 95%;
	}
	.custom-card-title {
		font-size: 18px;
	}
	.custom-card-text {
		font-size: 12px;
	}
	.custom-card-button {
		font-size: 12px;
		margin: 10px;
	}
	.division-line {
		padding-left: 20%;
		padding-right: 20%;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.custom-card-image {
		width: 92%;
		height: 45vh;
		object-fit: cover;
	}
	.division-line {
		padding-left: 20%;
		padding-right: 20%;
	}
}

@media (min-width: 1200px) {
	.custom-card-image {
		width: 97%;
		height: 45vh;
		object-fit: cover;
		margin: 20px;
	}
}
