/* General Styles */
#root {
  max-width: 100%; /* Cambia a 100% para hacerlo más adaptable */
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

/* Header */
header {
  text-align: center;
}

/* Tarjeta Container */
.tarjeta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

/* Tarjeta Front */
.tarjeta-front {
  padding: 3px;
  background-color: #f2f2f2;
  border-radius: 9px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Slogan Prompt */
.slogan-prompt {
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  color: #6c9a2b;
  justify-items: center;
}

/* Description Subtext */
.description-subtext {
  text-align: left;
}

/* Service Description */
.service-description {
  color: #666;
  text-align: left;
}

/* Emoji Animation */
.emoji {
  display: inline-block;
  animation: snakeMove 3s infinite alternate;
}

/* Divisory Line */
.divisory-line {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #000;
  width: 100%;
}

/* Ultra Animation */
.ultra {
  display: inline-block;
  animation: ultraAnimation 9s infinite;
}

/* Ultra Head */
.ultra-head {
  height: 40vh;
  margin-bottom: -15px;
}

/* Ultraspaces Banner */
.ultraspaces-banner {
  border-radius: 20%;
  margin: 0.3rem;
  width: 25%;
}

/* Fun Line */
.fun-line {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px 0;
}

/* Service Styles */
.service {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
}

.service-title {
  align-items: left;
}

/* Prompt Text */
.prompt-text {
  color: #561414;
}

/* Service Separator */
.service-separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Service Price */
.service-price {
  white-space: nowrap;
}

/* Service Price Button */
.service-price-button {
  background-color: #ecc756;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.service-price-button:hover {
  background-color: #addcad;
}

/* CTA Button */
.cta-button {
  background-color: #6c9a2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #8cc63e;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  color: #addcad;
  margin-bottom: 15px;
}

/* Column Styles */
.column {
  padding: 20px;
  border: 1px solid #21be24a5;
  border-radius: 10px;
  background-color: #addcad;
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: #d7c55b;
}

/* Technologies List */
.technologies-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.technologies-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

.technologies-list li svg {
  margin-right: 5px;
}

/* Footer Container */
.footer-container {
  display: inline-block;
  margin-top: 2.5rem;
}

.footer-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer-container li {
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
  margin-right: 15px;
}

/* Footer Logos */
.footer-logos {
  text-align: center;
  display: grid;
  margin: 0;
  justify-items: center;
}

/* Footer Signature */
.footer-signature {
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}

/* Footer Signature - U */
.footer-signature-u {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 767px) {
  /* Hide Emoji on Small Screens */
  .emoji {
    display: none;
  }

  /* Adjust Ultra Head Height */
  .ultra-head {
    height: 45vh;
  }

  /* Adjust Grid Columns for Small Screens */
  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  /* Adjust Tarjeta Front */
  .tarjeta-front {
    padding: 2px;
    background-color: #f2f2f2;
    border-radius: 9px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /* Adjust Ultraspaces Banner */
  .ultraspaces-banner {
    border-radius: 20%;
    margin-top: 2rem;
    width: 50%;
  }

  /* Keyframes for Ultra Animation */
  @keyframes ultraAnimation {
    0% {
      color: black;
    }
    50% {
      color: gold;
    }
    100% {
      color: rgb(110, 64, 197);
    }
  }
}
